﻿@model WebApp.Models.CustomerWaterQuota
  <div class="form-row">
   @Html.HiddenFor(x=>x.Id)
      
       <!--用水单位-->
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.CustomerId)</label>
   	        @Html.DropDownListFor(model => model.CustomerId, ViewBag.CustomerId as List<SelectListItem>, htmlAttributes: new { @class = "form-control" }) 
       </div>

		<!--年份-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.Year)</label>
            @Html.EditorFor(x => x.Year, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.Year) } })

        </div>

		<!--月份-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.Month)</label>
            @Html.EditorFor(x => x.Month, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.Month) } })

        </div>

		<!--用水定额(月)-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.Quota)</label>
            @Html.EditorFor(x => x.Quota, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.Quota) } })

        </div>

		<!--已用水(吨)-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.Water)</label>
            @Html.EditorFor(x => x.Water, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.Water) } })

        </div>

		<!--预测用水量(吨)-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.ForecastWater)</label>
            @Html.EditorFor(x => x.ForecastWater, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.ForecastWater) } })

        </div>

       <!--计算日期-->
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.RecordDate)</label>
            <div class="input-group">
			  @Html.EditorFor(x => x.RecordDate, 
                         new { htmlAttributes = new { @class = "form-control datepicker hasDatepicker",
                               placeholder = Html.DisplayNameFor(x => x.RecordDate ) } })
               <div class="input-group-append">
                                                            <span class="input-group-text fs-xl">
                                                                <i class="fal fa-calendar-alt"></i>
                                                            </span>
                                                        </div>
			 </div>
         </div>

        <!--单位名称-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="form-label ">@Html.DisplayNameFor(model => model.CustomerName)</label>
			@Html.EditorFor(x => x.CustomerName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.CustomerName) } })
      
         </div>

		
      <!--是否删除-->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
              <label class="form-label text-danger">@Html.DisplayNameFor(model => model.IsDelete)</label>
              <div class="custom-control custom-checkbox">
                 <input id="@Html.IdFor(model => model.IsDelete)"
                       name="@Html.NameFor(model => model.IsDelete)"
                       value="true" @(Model.IsDelete ? "checked=\"checked\"" : "")
                       class="custom-control-input"
                       tabindex="6"
                       type="checkbox" />
                <label class="custom-control-label" for="@Html.IdFor(model => model.IsDelete)">@Html.DisplayNameFor(model => model.IsDelete)</label>
            </div>
      </div>

	    
</div>

