@model WebApp.Models.Customer
@{
  ViewData["Title"] = "单位信息";
  ViewData["PageName"] = "Customer";
  ViewData["Heading"] = "<i class='fal fa-window text-primary'></i>  单位信息";
  ViewData["Category1"] = "水务管理中心";
  ViewData["PageDescription"] = "";
}
@section HeadBlock {

  <link href="@Fingerprint.Tag("/Scripts/easyui/themes/insdep/icon.css")" rel="stylesheet" />
  <link href="@Fingerprint.Tag("/Content/css/notifications/toastr/toastr.css")" rel="stylesheet" />
  <link href="@Fingerprint.Tag("/Scripts/easyui/themes/insdep/easyui.css")" rel="stylesheet" />
  <link href="@Fingerprint.Tag("/Content/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css")" rel="stylesheet" />
  <link href="@Fingerprint.Tag("/Scripts/plugin/jquery.fileuploader/jquery.fileuploader.min.css")" rel="stylesheet" />
  <link href="@Fingerprint.Tag("/Scripts/plugin/jquery.fileuploader/jquery.fileuploader-theme-dragdrop.css")" rel="stylesheet" />
  <link href="@Fingerprint.Tag("/Scripts/plugin/jquery.fileuploader/font/font-fileuploader.css")" rel="stylesheet" />
}
<div class="row">
  <div class="col-lg-12 col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>
          单位信息
        </h2>
        <div class="panel-toolbar">
          <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"><i class="fal fa-window-minimize"></i></button>
          <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>
          @*<button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"><i class="fal fa-times"></i></button>*@
        </div>

      </div>
      <div class="panel-container show">
        <div class="panel-content py-2 rounded-bottom border-faded border-left-0 border-right-0  text-muted bg-faded bg-subtlelight-fade ">
          <div class="row no-gutters align-items-center">
            <div class="col">
              <!-- 开启授权控制请参考 @@if (Html.IsAuthorize("Create") -->
              <div class="btn-group btn-group-sm">
                <button onclick="append()" class="btn btn-default"> <span class="fal fa-plus mr-1"></span> @Html.L("Add") </button>
              </div>
              <div class="btn-group btn-group-sm">
                <button name="deletebutton" disabled onclick="removeit()" class="btn btn-default"> <span class="fal fa-times mr-1"></span> @Html.L("Delete") </button>
              </div>
              <div class="btn-group btn-group-sm">
                <button name="changepricebutton"   class="btn btn-primary"> <span class="fal fa-exchange"></span> 统一调整水价 </button>
              </div>

              <div class="btn-group btn-group-sm">
                <button name="disablebutton" onclick="disableselected()" class="btn btn-danger"> <span class="fal fa-ban mr-1"></span> 停用 </button>
              </div>
              <div class="btn-group btn-group-sm">
                <button name="enablebutton" onclick="enableselected()" class="btn btn-success"> <span class="fal fa-check mr-1"></span> 启用 </button>
              </div>

              <div class="btn-group btn-group-sm">
                <button onclick="reload()" class="btn btn-default"> <span class="fal fa-search mr-1"></span> @Html.L("Refresh") </button>
              </div>
              <div class="btn-group btn-group-sm hidden-xs">
                <button type="button" onclick="importexcel('Customer')" class="btn btn-default"><span class="fal fa-cloud-upload mr-1"></span> @Html.L("Import") </button>
                <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item js-waves-on" href="javascript:downloadtemplate()"><span class="fal fa-download"></span> @Html.L("Download") </a>
                </div>
              </div>
              <div class="btn-group btn-group-sm ">
                <button onclick="exportexcel()" class="btn btn-default"> <span class="fal fa-file-excel mr-1"></span>  @Html.L("Export") </button>
              </div>
              <div class="btn-group btn-group-sm ">
                <button onclick="dohelp()" class="btn btn-default"> <span class="fal fa-question-circle mr-1"></span> @Html.L("Help") </button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-content">
          <div class="table-responsive">
            <table id="customers_datagrid">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@{ Html.RenderPartial("_ImportWindow", new ViewDataDictionary { { "EntityName", "Customer" } }); }

@{ Html.RenderPartial("_PopupDetailFormView", new WebApp.Models.Customer()); }




@section ScriptsBlock {
  <script src="@Fingerprint.Tag("/Scripts/plugin/numeral/numeral.min.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/plugin/filesaver/FileSaver.min.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/plugin/filesaver/jquery.fileDownload.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/notifications/toastr/toastr.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/plugin/jquery.serializejson/jquery.serializejson.min.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/plugin/moment/moment-with-locales.min.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/plugin/jquery.fileuploader/jquery.fileuploader.min.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/easyui/jquery.easyui.min.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/easyui/plugins/datagrid-filter.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/easyui/plugins/columns-ext.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/jquery.easyui.component.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/jquery.extend.formatter.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/easyui/plugins/columns-reset.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/easyui/locale/easyui-lang-zh_CN.js")"></script>
  <script src="@Fingerprint.Tag("/Scripts/jquery.custom.extend.js")"></script>
  <script type="text/javascript">
      //是否强制从后台取值
      const REQUIRBACKEND = false;
      //是否开启行内编辑
      const EDITINLINE = false;
      var customer = {};

    //统一调整水价
    $('button[name="changepricebutton"]').on('click', () => {
      bootbox.prompt({
        size: "small",
        title: "请输入在原水价基础上调整的金额? 负数表是降价",
        inputType: 'text',

        callback: function (result) {
          const value = numeral(result).value();
          if (value !== null) {
            bootbox.confirm(`你确定要调整再原水价基础上调整${value}?`, function (result) {
              if (result) {
                $.post('/Customers/ChangeWatePrice', { value }).done(res => {
                  reload();
                })
              }
            })
          }
         
        }
      });

    })


      //下载Excel导入模板
      function downloadtemplate() {
          //默认模板路径存放位置
          const url = '/FileUpload/Download?file=/ExcelTemplate/Customer.xlsx';
          $.fileDownload(url)
           .done(() => {
                    //console.log('file download a success!');
                    toastr.success('模板下载完成!');
                })
           .fail(() => {
               $.messager.alert('下载模板失败','没有下载到导入模板[Customer.xlsx]文件!','error');
            });
       }

       //执行导出下载Excel
       function exportexcel() {
                const filterRules = JSON.stringify($dg.datagrid('options').filterRules);
                //console.log(filterRules);
                $.messager.progress({ title: '正在执行导出!' });
                let formData = new FormData();
                formData.append('filterRules', filterRules);
                formData.append('sort', 'Id');
                formData.append('order', 'asc');
                $.postDownload('/Customers/ExportExcel', formData).then(res => {
                    $.messager.progress('close');
                    toastr.success('导出成功!');
                }).catch(err => {
                    //console.log(err);
                    $.messager.progress('close');
                    $.messager.alert('导出失败', err.statusText, 'error');
                });

        }

       var editIndex = undefined;
       //重新加载数据
       function reload() {
            
                $dg.datagrid('uncheckAll');
                $dg.datagrid('reload');
           
       }
      //关闭编辑状态
      function endEditing() {
            if (editIndex === undefined) {
                return true;
            }
            if ($dg.datagrid('validateRow', editIndex)) {
                $dg.datagrid('endEdit', editIndex);
                return true;
            } else {
                const invalidinput = $('input.validatebox-invalid',$dg.datagrid('getPanel'));
                const fieldnames = invalidinput.map((index, item) => {
                  return $(item).attr('placeholder') || $(item).attr('id');
                });
                $.messager.alert('提示', `${Array.from(fieldnames)} 输入有误.`, 'error');
                return false;
            }
        }
    //单击列开启编辑功能
    function onClickCell(index, field) {
        customer = $dg.datagrid('getRows')[index];
        const _actions = ['action', 'ck'];
        if (!EDITINLINE || $.inArray(field, _actions) >= 0) {
                return;
        }
        if (editIndex !== index) {
            if (endEditing()) {
                $dg.datagrid('selectRow', index)
                   .datagrid('beginEdit', index);
                hook = true;
                editIndex = index;
                const ed = $dg.datagrid('getEditor', { index: index, field: field });
                if (ed) {
                        ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                }
            } else {
                $dg.datagrid('selectRow', editIndex);
            }
        }
    }
    //新增记录
    async function append() {
      customer = {
        Quota: 0,
        Type: '自用',
        Level:'一级单位',
Threshold: 0,
IsFee: false,
Discount: 0,
RegisterDate: moment().format('YYYY-MM-DD HH:mm:ss'),
 };
        //需要后台创建对象
       if (REQUIRBACKEND) {
         customer = await $.get('/Customers/NewItem');
       }
        if (!EDITINLINE) {
           //弹出新增窗口
           opencustomerdetailwindow(customer, 'Added');
        } else {
            if (endEditing()) {
                //对必填字段进行默认值初始化
                $dg.datagrid('insertRow',
                              {
                                  index: 0,
                                  row: customer
                               });
                editIndex = 0;
                $dg.datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
                hook = true;
            }
        }
    }
    //删除编辑的行
    function removeit() {

          deletechecked();

    }
  //删除该行
  function deleteRow(id) {
    $.messager.confirm('确认', '你确定要删除该记录?', result => {
      if (result) {
        dodeletechecked([id]);
      }
     });
    }
    function disableselected() {
      const id = $dg.datagrid('getChecked').filter(item => item.Id != null && item.Id > 0).map(item => {
        return item.Id;
      });;
      if (id.length > 0) {
        $.messager.confirm('确认', `你确定要停用这 <span class='badge badge-icon position-relative'>${id.length} </span> 单位记录?`, result => {
          if (result) {
            $.post('/Customers/DisableSelected', { id: id })
              .done(response => {
                if (response.success) {
                  toastr.success(`停用[${id.length}]行记录`);
                  reload();
                } else {
                  $.messager.alert('错误', response.err, 'error');
                }
              })
              .fail((jqXHR, textStatus, errorThrown) => {
                $.messager.alert('异常', `${jqXHR.status}: ${jqXHR.statusText} `, 'error');
              });
          }
        });
      } else {
        $.messager.alert('提示', '请先选择记录!', 'question');
      }
    }
    function enableselected() {
      const id = $dg.datagrid('getChecked').filter(item => item.Id != null && item.Id > 0).map(item => {
        return item.Id;
      });;
      if (id.length > 0) {
        $.post('/Customers/EnableSelected', { id: id })
              .done(response => {
                if (response.success) {
                  toastr.success(`启用[${id.length}]行记录`);
                  reload();
                } else {
                  $.messager.alert('错误', response.err, 'error');
                }
              })
              .fail((jqXHR, textStatus, errorThrown) => {
                $.messager.alert('异常', `${jqXHR.status}: ${jqXHR.statusText} `, 'error');
              });

      } else {
        $.messager.alert('提示', '请先选择记录!', 'question');
      }
    }
    //删除选中的行
    function deletechecked() {
        const id = $dg.datagrid('getChecked').filter(item=>item.Id!=null && item.Id > 0).map(item => {
                   return item.Id;
                });;
        if (id.length > 0) {
           $.messager.confirm('确认', `你确定要删除这 <span class='badge badge-icon position-relative'>${id.length} </span> 行记录?`, result => {
                if (result) {
                    dodeletechecked(id);
                    }
                });
         } else {
                $.messager.alert('提示', '请先选择要删除的记录!','question');
         }
     }
    //执行删除
    function dodeletechecked(id){
       $.post('/Customers/DeleteChecked', { id: id })
                         .done(response => {
                                if (response.success) {
                                    toastr.error(`成功删除[${id.length}]行记录`);
                                    reload();
                                } else {
                                    $.messager.alert('错误', response.err,'error');
                                }
                          })
                          .fail((jqXHR, textStatus, errorThrown) => {
                             $.messager.alert('异常', `${jqXHR.status}: ${jqXHR.statusText} `, 'error');
                          });
    }
    //提交保存后台数据库
    function accept() {
      if (endEditing()) {
        if ($dg.datagrid('getChanges').length > 0) {
          const inserted = $dg.datagrid('getChanges', 'inserted').map(item => {
          item.TrackingState = 1;
          return item;
        });
        const updated = $dg.datagrid('getChanges', 'updated').map(item => {
          item.TrackingState = 2
          return item;
        });
        const deleted = $dg.datagrid('getChanges', 'deleted').map(item => {
          item.TrackingState = 3
          return item;
        });
        //过滤已删除的重复项
        const changed = inserted.concat(updated.filter(item => {
            return !deleted.includes(item);
          })).concat(deleted);
        //console.table(changed);
        $.messager.progress({ title: '请等待', msg: '正在保存数据...', interval:200});
        $.post('/Customers/SaveData', {customers:changed})
                     .done(response => {
                     $.messager.progress('close');
                           //console.log(response);
                           if (response.success) {
                               toastr.success('保存成功');
                               $dg.datagrid('acceptChanges');
                               reload();
                               hook = false;
                           } else {
                               $.messager.alert('错误', response.err ,'error');
                           }
                        })
                      .fail((jqXHR, textStatus, errorThrown) => {
                        $.messager.progress('close');
                        $.messager.alert('异常', `${jqXHR.status}: ${jqXHR.statusText} `, 'error');
                      });
                }
            }
    }
    function reject() {
        $dg.datagrid('rejectChanges');
        editIndex = undefined;
        hook = false;
    }
    function getChanges() {
        const rows = $dg.datagrid('getChanges');
        //console.log(rows.length + ' rows are changed!');
    }
    //弹出明细信息
    async function showdetailswindow(id,index) {
        const customer = $dg.datagrid('getRows')[index];
        if (REQUIRBACKEND) {
           customer = await $.get('/Customers/GetItem/' + id);
        }
        opencustomerdetailwindow(customer,'Modified');
    }

    //初始化定义datagrid
    var $dg = $('#customers_datagrid');
    $(() => {
      //定义datagrid结构
      $dg.datagrid({
       height:670,
        pageSize:15,
        rownumbers: true,
        checkOnSelect: false,
        selectOnCheck: false,
        idField: 'Id',
        sortName: 'Id',
        sortOrder: 'desc',
        remoteFilter: true,
        singleSelect: false,
        method: 'get',
        onClickCell: onClickCell,
        pagination: true,
        clientPaging: false,
        striped: true,
        pageList: [15, 20, 50, 100, 500, 2000],
        filterRules: [
          {
            field: 'Status',
            op: 'equal',
            value: '启用'
          }
        ],
        onHeaderContextMenu: function (e, field) {
          e.preventDefault();
          $(this).datagrid('columnMenu').menu('show', {
            left: e.pageX,
            top: e.pageY
          });
        },
        onBeforeLoad: function () {
          const that = $(this);
          document.addEventListener('smartPanel.onFullscreen', () => {
            setTimeout(() => {
              that.datagrid('resize');
            }, 200)
          })
        },
        onLoadSuccess: function (data) {
          editIndex = undefined;
          $("button[name*='deletebutton']").prop('disabled', true);
          $("button[name*='savebutton']").prop('disabled', true);
          $("button[name*='cancelbutton']").prop('disabled', true);
        },
        onCheck: function () {
          $("button[name*='deletebutton']").prop('disabled', false);
        },
        onUncheck: function () {
          const checked = $(this).datagrid('getChecked').length > 0;
          $("button[name*='deletebutton']").prop('disabled', !checked);
        },
        onSelect: function (index, row) {
          customer = row;
        },
        onBeginEdit: function (index, row) {
          //const editors = $(this).datagrid('getEditors', index);

        },
        onEndEdit: function (index, row) {

        },
        onBeforeEdit: function (index, row) {
          editIndex = index;
          row.editing = true;
          $("button[name*='deletebutton']").prop('disabled', false);
          $("button[name*='cancelbutton']").prop('disabled', false);
          $("button[name*='savebutton']").prop('disabled', false);
          $(this).datagrid('refreshRow', index);
        },
        onAfterEdit: function (index, row) {
          row.editing = false;
          editIndex = undefined;
          $(this).datagrid('refreshRow', index);
        },
        onCancelEdit: function (index, row) {
          row.editing = false;
          editIndex = undefined;
          $("button[name*='deletebutton']").prop('disabled', true);
          $("button[name*='savebutton']").prop('disabled', true);
          $("button[name*='cancelbutton']").prop('disabled', true);
          $(this).datagrid('refreshRow', index);
        },
        frozenColumns: [[
          /*开启CheckBox选择功能*/
          { field: 'ck', checkbox: true },
          {
            field: 'action',
            title: '@Html.L("Command")',
            width: 85,
            sortable: false,
            resizable: true,
            formatter: function showdetailsformatter(value, row, index) {
              if (!row.editing) {
                return `<div class="btn-group">\
                                                         <button onclick="showdetailswindow('${row.Id}',  ${index})" class="btn btn-primary btn-sm btn-icon waves-effect waves-themed" data-toggle="tooltip" data-placement="right" title="@Html.L("EditDetail")" ><i class="fal fa-edit"></i> </button>\
                                                         <button onclick="deleteRow('${row.Id}',${index})" class="btn btn-primary btn-sm btn-icon waves-effect waves-themed" data-toggle="tooltip" data-placement="right" title="@Html.L("Delete")" ><i class="fal fa-times"></i> </button>\
                                                    </div>`;
              } else {
                return `<button class="btn btn-primary btn-sm btn-icon waves-effect waves-themed" disabled title="查看明细"  ><i class="fa fa-edit"></i> </button>`;
              }
            }
          }
        ]],
        columns: [[
          {    /*单位名称*/
            field: 'Code',
            title: '@Html.DisplayNameFor(model => model.Code)',
            width: 130,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*单位名称*/
            field: 'Name',
            title: '@Html.DisplayNameFor(model => model.Name)',
            width: 180,
            hidden: false,

            sortable: true,
            resizable: true
          },
           {    /*单位名称*/
             field: 'Category',
            title: '@Html.DisplayNameFor(model => model.Category)',
            width: 180,
            hidden: false,
            sortable: true,
            resizable: true
          },
           {    /*状态*/
            field: 'Status',
            title: '@Html.DisplayNameFor(model => model.Status)',
            width: 120,
            hidden: false,
            sortable: true,
            resizable: true
          },
           {    /*主要联系人*/
            field: 'Contact',
            title: '@Html.DisplayNameFor(model => model.Contact)',
            width: 120,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*联系方式*/
            field: 'ContactInfo',
            title: '@Html.DisplayNameFor(model => model.ContactInfo)',
            width: 150,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*短信通知手机号*/
            field: 'MobilePhone',
            title: '@Html.DisplayNameFor(model => model.MobilePhone)',
            width: 120,
            hidden: false,
            sortable: true,
            resizable: true
          },
          {    /*水价*/
            field: 'WaterPrice',
            title: '@Html.DisplayNameFor(model => model.WaterPrice)',
            width: 120,
            align: 'right',
            hidden: false,
            sortable: true,
            resizable: true
          },
           {    /*业态*/
            field: 'Type',
            title: '@Html.DisplayNameFor(model => model.Type)',
            width: 120,
            hidden: false,
            sortable: true,
            resizable: true
          },

          {    /*单位层级*/
            field: 'Level',
            title: '@Html.DisplayNameFor(model => model.Level)',
            width: 90,
            hidden: false,

            sortable: true,
            resizable: true
          },
          {    /*主管部门*/
            field: 'ManageDept',
            title: '@Html.DisplayNameFor(model => model.ManageDept)',
            width: 90,
            hidden: false,
            sortable: true,
            resizable: true
          },


          {    /*用水定额(月)*/
            field: 'Quota',
            title: '@Html.DisplayNameFor(model => model.Quota)',
            width: 100,
            align: 'right',
            hidden: false,
            editor: {
              type: 'numberspinner',
              options: {
                prompt: '@Html.DisplayNameFor(model => model.Quota)',
                required: true,
                precision: 2,

              }
            },
            formatter: numberformatter,
            sortable: true,
            resizable: true
          },
          {    /*预警阈值*/
            field: 'Threshold',
            title: '@Html.DisplayNameFor(model => model.Threshold)',
            width: 100,
            align: 'right',
            hidden: false,
            editor: {
              type: 'numberspinner',
              options: {
                prompt: '@Html.DisplayNameFor(model => model.Threshold)',
                required: true,
                precision: 2,

              }
            },
            formatter: numberformatter,
            sortable: true,
            resizable: true
          },
          {    /*折扣*/
            field: 'Discount',
            title: '@Html.DisplayNameFor(model => model.Discount)',
            width: 100,
            align: 'right',
            hidden: false,
            editor: {
              type: 'numberspinner',
              options: {
                prompt: '@Html.DisplayNameFor(model => model.Discount)',
                required: true,
                precision: 2,

              }
            },
            formatter: numberformatter,
            sortable: true,
            resizable: true
          },
          {   /*注册日期*/
            field: 'RegisterDate',
            title: '@Html.DisplayNameFor(model => model.RegisterDate)',
            width: 100,
            align: 'right',
            hidden: false,
            editor: {
              type: 'datebox',
              options: { prompt: '@Html.DisplayNameFor(model => model.RegisterDate)', required: true }
            },
            formatter: dateformatter,
            sortable: true,
            resizable: true
          },
          {    /*备注*/
            field: 'Remark',
            title: '@Html.DisplayNameFor(model => model.Remark)',
            width: 260,
            hidden: false,
            editor: {
              type: 'textbox',
              options: { prompt: '@Html.DisplayNameFor(model => model.Remark)', required: false, validType: 'length[0,150]' }
            },
            sortable: true,
            resizable: true
          },
        ]]
      }).datagrid('enableFilter', [
        {
          field: 'Level',
          type:'customerlevelfilter'
        },
        {
          field: 'Status',
          type: 'statusfilter'
        },
        {
          field: 'Category',
          type: 'categoryfilter'
        },
        {
          field: 'Type',
          type: 'customertypefilter'
        },
        {     /*注册日期*/
          field: 'RegisterDate',
          type: 'dateRange',
          options: {
          }
        },
        {   /*是否计费*/
          field: 'IsFee',
          type: 'booleanfilter'
        },
      ])
        .datagrid('load', '/Customers/GetData');
    });

  </script>



  <!-- customerwaterrecord datagrid  javascript block -->
  @Html.Partial("_customerwaterrecorddatagridjsview", new WebApp.Models.CustomerWaterRecord())
  <!-- customerwatermeter datagrid  javascript block -->
  @Html.Partial("_customerwatermeterdatagridjsview", new WebApp.Models.CustomerWaterMeter())
  <!-- customerwaterquota datagrid  javascript block -->
  @Html.Partial("_customerwaterquotadatagridjsview", new WebApp.Models.CustomerWaterQuota())
  <!--end popup detailview javascript block -->
}


