﻿@model WebApp.Models.Company
<!-- begin master section -->
<div  class="main-form">
<!--begin company form  -->
<form id="company_form" method="post" novalidate="novalidate" >
@Html.AntiForgeryToken()
   @Html.HiddenFor(x=>x.Id)
 <fieldset>
 <div class="form-group form-group-sm">
      <div class="row">

        <!--名称-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Name)</span> </label>
			@Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Name) } })
      
         </div>

        <!--组织代码-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Code)</span> </label>
			@Html.EditorFor(x => x.Code, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Code) } })
      
         </div>

        <!--地址-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.Address) </label>
			@Html.EditorFor(x => x.Address, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Address) } })
      
         </div>

        <!--联系人-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.Contect) </label>
			@Html.EditorFor(x => x.Contect, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Contect) } })
      
         </div>

        <!--联系电话-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.PhoneNumber) </label>
			@Html.EditorFor(x => x.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.PhoneNumber) } })
      
         </div>

       <!--注册日期-->
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.RegisterDate)</span> </label>
            <div class="input-group">
			  @Html.EditorFor(x => x.RegisterDate, 
                         new { htmlAttributes = new { @class = "form-control datepicker hasDatepicker",
                               placeholder = Html.DisplayNameFor(x => x.RegisterDate ) } })
               <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			 </div>
         </div>
	   </div>
    </div>
	    
</fieldset>
</form>
<!-- end company form  -->
</div>

<!-- end master section -->
<!--========================================================================================-->

